{% extends "kingadmin/index.html" %}
{% load kingadmin_tags %}
{% block extra-css-resources %}
{#    左右复选框CSS样式#}
    <style type="text/css">
        .filter-select-box{
            height: 230px;!important;
            width:100%;

        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="row" style="margin-bottom: 20px">
        <ol class="breadcrumb">
            <li><a href="/king_admin/">Home</a></li>
            <li><a href="/king_admin/{% get_app_name admin_obj.model %}/">{% get_app_name admin_obj.model %}</a></li>
            <li>
                <a href="/king_admin/{% get_app_name admin_obj.model %}/{% get_model_name admin_obj.model %}/">{% get_model_verbose_name admin_obj.model %} </a>
            </li>
            {% if not admin_obj.is_add_form %}
                <li class="active">{{ obj_form.instance }}</li>
            {% endif %}
        </ol>
        {% block Tops %}
            <div class="panel panel-info">
                <h4>Change {% get_model_verbose_name admin_obj.model %}</h4>
            </div>
        {% endblock %}
    </div>


    <div class="row panel panel-info panel-body">

        <form class="form-horizontal" method="post" onsubmit="return BeforeFormSubmit(this);">{% csrf_token %}
        <span style="color: red">{{ obj_form.errors }}</span>
            {% for field in obj_form %}
                <div class="form-group ">
                    <label class="col-sm-2 " style="font-weight: normal">
                        {% if field.field.required %}<!--     判断是否必填选项-->
                            <b>{{ field.label }}</b>
                        {% else %}
                            {{ field.label }}
                        {% endif %}
                    </label>
                    <div class="col-sm-8">
                        <span style="color: red;">{{ field.errors }}</span>
                        <!--     判断是否复选框-->
                        {% if field.name in admin_obj.filter_horizontal %}
                            {% get_m2m_chosen_objs admin_obj field.name obj_form.instance as m2m_chosen_objs %} <!--当前对象已经选中的字段名-->
                            <!--    左边待选框-->
                            <div class="col-md-6">
                            <!--    取所有的内容-->
                                {% get_m2m_available_objs admin_obj field.name as m2m_available_objs %}
{#                                <input type="text" oninput="FuzzSearch(this,'id_{{ field.name }}_from')" class="form-control">#}
                            <!--                                   字段名-->
                                <select multiple field_name="{{ field.name }}" class="form-control filter-select-box" id="id_{{ field.name }}_from" >
                                    <!-- 字段名 是否为不能修改-->
                                    {% if field.name in admin_obj.readonly_fields and not admin_obj.is_add_form %}
                                        {% for obj in m2m_available_objs  %}
                                            {% if obj not in m2m_chosen_objs %}<!--不在当象已经选中的字段名 才显示-->
                                                <option value="{{ obj.id }}" disabled>{{ obj }}</option>
                                            {% endif %}
                                        {% endfor %}

                                    {% else %}

                                        {% for obj in m2m_available_objs %}
                                            {% if obj not in m2m_chosen_objs %}<!--不在当象已经选中的字段名 才显示-->
                                                <option value="{{ obj.id }}" ondblclick="MoveEleTo(this,'id_{{ field.name }}_to')">{{ obj }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>

                            <!--    中间箭头-->
                            <div class="col-md-1">
                                ->
                            </div>

                            <!--    右边已选框-->
                            <div class="col-md-5">
                                <select m2m_right="yes" name="{{ field.name }}" multiple field_name="{{ field.name }}" class="form-control" id="id_{{ field.name }}_to">
                                    {% if field.name in admin_obj.readonly_fields and not admin_obj.is_add_form %}
                                        {% for obj in m2m_chosen_objs %}
                                         <option value="{{ obj.id }}" disabled>{{ obj }}</option>
                                        {% endfor %}
                                    {% else %}

                                        {% for obj in m2m_chosen_objs %}
                                            <option value="{{ obj.id }}" ondblclick="MoveEleTo(this,'id_{{ field.name }}_from')">{{ obj }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>

                            </div>

                        {% else %}
                            {{ field }} <span style="color: #bce8f1"> {{ field.help_text }}</span>
{#                            <span style="color:red">{{ field.errors }}</span>#}
                        {% endif %}
                    </div>
                </div>

            {% endfor %}

{#        {% if admin_obj.readonly_table %}#}
        {% if not admin_obj.readonly_table %}
        <div class="form-group">

            {% block del %}
            <div class="col-sm-2">
                <a class="btn btn-danger" href="{% url 'obj_delete' app_name model_name obj_form.instance.id %}">Delete</a>
            </div>
             {% endblock %}
            <div class="col-sm-10">
                <input type="submit" value="Save" class="pull-right btn btn-info">
            </div>
        {% endif %}

        </div>
        </form>

    </div>

    <script>
        function BeforeFormSubmit(form_ele) {

            console.log(form_ele);
            //$('form input[disabled]').prop("disabled", false);//修改为可提交
            $("form").find("[disabled]").removeAttr("disabled");//修改为    可提交

            $('select[m2m_right="yes"] option').prop('selected', true);

            return true;
        }


        function MoveEleTo(from_ele, target_ele_id) {
            //move options from from_ele to target ele
            var field_name = $(from_ele).parent().attr("field_name");//获option名
            if (target_ele_id.endsWith('_from')) {//判断是否
                var new_target_id = "id_" + field_name + "_to";
            } else {
                var new_target_id = "id_" + field_name + "_from";
            }
            //创建一个新标签
            var opt_ele = "<option value='" + $(from_ele).val() + "'  ondblclick=MoveEleTo(this,'" + new_target_id + "')  >" + $(from_ele).text() + "</option>";
            $("#" + target_ele_id).append(opt_ele);//添加到另一边选框
            $(from_ele).remove();//移除选中的

        }


        function FuzzSearch(ele, select_ele_id) {
            $("form").find("[disabled]").removeAttr("disabled");//修改为    可提交
            var search_text = $(ele).val();//获取内容

            var matched_eles = [];
            $("#" + select_ele_id).children().each(function () {

                if ($(this).text().indexOf(search_text) != -1) {
                    //matched_eles.push($(this));
                    $(this).removeClass("hidden");
                } else {
                    $(this).addClass("hidden");

                }
            });//end each

            {#            $("#"+select_ele_id).empty();#}
            {##}
            {#            for (var i in matched_eles){#}
            {#                $("#"+select_ele_id).append(matched_eles[i]);#}
            {##}
            {#            }#}


        }

    </script>

{% endblock %}


