{% extends 'kingadmin/table_index.html' %}
{% load kingadmin_tags %}

{% block right-container-content %}

    {% if obj %}
        {% display_all_related_obj obj %}
    {% else %}
        {% display_all_related_obj objs %}
    {% endif %}

    <ul style="color: red">
        {% for k,v in errors.items %}
            <li>{{ k }}:{{ v }}</li>
        {% endfor %}

    </ul>
    <form action="" method="post">{% csrf_token %}
        {% if not admin_obj.readonly_table %}
        <input type="submit" class="btn btn-danger" value="YES ,I'm sure">
        {% endif %}
        <input type="hidden" value="yes" name="delete_confirm">
        <input type="hidden" value="{{ selected_ids }}" name="selected_ids">
        <input type="hidden" value="{{ action }}" name="action_select">
        <a href="{% url 'table_list' app_name model_name %}" class="btn btn-info">No,Take me back</a>
    </form>
{% endblock %}


