{% extends 'master/index.html' %}
{% load kingadmin_tags %}
{% block page_content %}
    <div class="panel-default">
        {#        <div class="panel-heading">课程</div>#}
        <div class="row" style="margin-bottom: 20px">
            <ol class="breadcrumb">
                <li><a href="/teacher/">Home</a></li>
                <li><a href="/teacher/teacher_my_classes/">我的班级</a></li>
            </ol>
        </div>
  </div>
{% include 'include/search_ordy.html' %}
{% include 'include/pages.html' %}

{% endblock %}