{% extends 'master/index.html' %}<!--继承后台主页-->


{% block page_content %}
    <div class="panel panel-info">
   <h4> 学员缴费：</h4>
</div>
    <div id="content">

    


        <form action="" class="form-horizontal col-lg-5" role="form" method="post">{% csrf_token %}
            <span class="errors">{{ errors.err }}</span>
        <table>

            <div class="form-group">
                <label for="inputeEmail4" class="col-sm-3"> 客户 ： </label>
                <div class="col-sm-3"> {{ enroll_obj.customer }}</div>
            </div>

            <div class="form-group">
                <label for="inputeEmail4" class="col-sm-3"> 所报课程 ： </label>
                <div class="col-sm-3"> {{ enroll_obj.enrolled_class }} </div>
            </div>

            <div class="form-group">
                <label for="inputeEmail9" class="col-sm-3">缴费金额 ：</label>
                <div class="col-sm-3"> <input type="text" name="amount" placeholder="至少不低于500"> </div>
            </div>
            <div class="form-group">
                <label for="inputeEmail4" class="col-sm-3">课程顾问 ： </label>
                <div class="col-sm-3"> {{ enroll_obj.customer.consultant }} </div>
            </div>
        </table>

            <input type="submit" class="btn btn-success pull" value="缴费">
        </form>
        <div class="row">


        </div>

    </div>
{% endblock %}