{% extends 'master/index.html' %}<!--继承后台主页-->
{#{% extends 'kingadmin/index.html' %}#}
{% load kingadmin_tags %}



{% block page_content %}

    <div class="row" style="margin-bottom: 20px">
        <ol class="breadcrumb">
            <li><a href="/king_admin/">Home</a></li>
            <li><a href="/king_admin/{% get_app_name admin_obj.model %}/">{% get_app_name admin_obj.model %}</a></li>
            <li class="active">{% get_model_verbose_name admin_obj.model %}</li>
        </ol>
        {% if not admin_obj.readonly_table %}
        <a href="{{ request.path }}add/" class="btn btn-sm btn-success pull-right">+Add {% get_model_verbose_name admin_obj.model %} </a>
        {% endif %}
    </div>

    <div class="panel panel-info">
{#        <div class="panel-heading">#}
            <h4>{% get_model_verbose_name admin_obj.model %}</h4>
{#        </div>#}
{#    {% if not admin_obj.readonly_table %}#}
{#        <a href="{{ request.path }}add/" class="btn btn-sm btn-success pull-right">+Add {% get_model_verbose_name admin_obj.model %} </a>#}
{#    {% endif %}#}

    {% if admin_obj.list_filter %}
        <form>
            <div class="row">
                {% for filter_column in admin_obj.list_filter %}
                    <div class="col-lg-2">
                        <span>{{ filter_column }}</span>
                        {% get_filter_field filter_column admin_obj %}
                    </div>
                {% endfor %}
                <div class="col-lg-2" style="padding-top: 18px">
                    <input type="submit" class="btn btn-success" value="搜索">
                    <input type="hidden" name="_o" value="{% get_current_orderby_key request %}">
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-lg-2">
                    <input type="text" name="_q" value="{% get_search_key request %}">
                </div>
                <div class="col-lg-2">
                    <input type="submit" class="btn btn-success" value="search">
                </div>
            </div>


        </form>
    {% endif %}
        <hr>

        <div class="row">

            <form method="post" onsubmit="return ActionValidation(this)">{% csrf_token %}
                <div class="col-lg-2">
                    <select name="action_select">
                        {% get_admin_actions admin_obj %}
                    </select>
                </div>
                <div class="col-lg-2">
                    <input type="submit" value="执行">
                </div>
            </form>

        </div>
        <hr>


    <div class="row">
    </div>
</div>
    <div class="panel panel-info ">

    <table class="table table-hover">
    <div class="panel-heading">
        <thead>
        <tr>
        <!-- checkbox 勾选框-->
            <th><input type="checkbox" onclick="SelectAll(this);"></th>
            <!-- 定制的显示列名-->
            {% for column in admin_obj.list_display %}
                <th>
                 <!-- 非表中的字段-->
                    {% if column in admin_obj.column_not %}
                        <a>{% verbose_name_set admin_obj column %}</a>
                    {% else %}
                        <a href="?_o={% get_orderby_key request column %}{% generate_filter_url admin_obj %}">{% verbose_name_set admin_obj column %}</a>
                    {% display_order_by_icon request column %}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
    </div>
        <tbody>
        {% for obj in admin_obj.querysets %}
            <tr>
                <td>
                    <input tag="obj_checkbox" type="checkbox" value="{{ obj.id }}">
                </td>
                {% build_table_row admin_obj obj %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <div class="radio">
        数据总量：  {{ admin_obj.querysets.paginator.count }}  条
    </div>
    <!--分页-->
    <div class="row panel-body">
        <nav aria-label="...">
            <ul class="pagination">
                <!--如果有上一页-->
                {% if admin_obj.querysets.has_previous %}
                    <li><a href="?page={{ admin_obj.querysets.previous_page_number }}{% generate_order_by_url request %}{% generate_filter_url admin_obj %}&_q={% get_search_key request %}"
                           aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                {% else %}
                    <li class="disabled">
                        <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}

                {% pag_omit request admin_obj %}

                <!--如果有下一页-->
                {% if admin_obj.querysets.has_next %}
                    <li><a href="?page={{ admin_obj.querysets.next_page_number }}{% generate_order_by_url request %}{% generate_filter_url admin_obj %}&_q={% get_search_key request %}"
                           aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                {% else %}
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>



    <script>
        //勾选
        function SelectAll(ele) {
            if ($(ele).prop("checked")) {//如果勾选框
                $("input[tag='obj_checkbox']").prop("checked", true);//勾选
            } else {
                $("input[tag='obj_checkbox']").prop("checked", false);//不勾选
            }

        }
        //end SelectAll

        function ActionValidation(form_ele) {
            if ($("select[name='action_select']").val() == "-1") {//没选中
                alert("must select action before submit!");
                return false;
            }

            var selected_objs = [];//要提交到后台的数据
            $("input[tag='obj_checkbox']").each(function () {
                if ($(this).prop("checked")) {////用于chekbox,radio   一个形参,获取值  两个形参 设置值
                    selected_objs.push($(this).val());
                }
            });//end each

            console.log(selected_objs);
            if (selected_objs.length == 0) {
                alert("must select at least one object to run the action!");
                return false;
            }

            //var selected_objs_ele = "<input name='selected_ids' type='hidden' value=" + JSON.stringify(selected_objs) + " >";
            var selected_objs_ele = "<input name='selected_ids' type='hidden' value='" + selected_objs.toString()+ "'>";
            $(form_ele).append(selected_objs_ele);

            return true;

        }

    </script>

{% endblock %}

{#{% includes 'includes/change_list.html' %}#}

