{% extends 'master/base.html' %}
{% load crm_tags %}
{% block body %}

    <div class="container col-lg-7 col-md-offset-2">
        <div class="panel panel-warning">

            <div class=" panel-heading">
                <h3 class="panel-title container">报名入学｜信息填写</h3>
            </div>

            <div class="panel-body ">                           <!--返回提交函数-->
            {% if status != 1 %}

            <span class="errors">{{ customer_form.errors }}</span><!--错误提示-->
                <form method="post" class="form-horizontal" role="form" onsubmit="return RegisterFormCheck()">{% csrf_token %}
                    {% for foo in customer_form %}
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">{{ foo.label }}</label>
                        <div class="col-sm-8">
                          {{ foo }}
                        </div>
                    </div>
                {% endfor %}
                    <hr>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">所报班级</label>
                    <div class="col-sm-8">
                      {{ enroll_obj.enrolled_class }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">课程费用</label>
                    <div class="col-sm-8">
                      {{ enroll_obj.enrolled_class.course.price }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">开课日期</label>
                    <div class="col-sm-8">
                      {{ enroll_obj.enrolled_class.start_date }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">合同</label>
                    <div class="col-sm-10">
                        <div style="width: 500px">
                            <pre>{% render_enrolled_contract enroll_obj %}  </pre>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="checkbox" value="{{ enroll_obj.contract_agreed }}" name="contract_agreed" checked>
                        我已经认真阅读完协议并接受所有条款
                    </div>

                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-info" value="提交">
                </div>
                </form>
                <div class="row">

                    <div class="col-xs-6 col-md-3">
                        {% for img_file in img_file_list %}
                        <div class="right">
                            <a href="#" class="thumbnail" name="{{ img_file }}">
                                <img src="/static/enrolled_data/{{ enroll_id }}/{{ img_file }}" alt="..." >
                            </a>
                            <a class="del_img">删除</a>
                            <span class="img_f hide">{{ img_file }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <p>请上传身份证反面照片</p>
                <form action="{{ request.path }}" class="dropzone form-group" id="filerdropzone" method="post" enctype="multipart/form-data">{% csrf_token %}

                    <input type="hidden" name="file_id" ng-model="file_id" id="file_id"/>
                </form>


            {% else %}
                <h3>报名成功，同合进入审核流程，感谢您的选择！</h3>
            {% endif %}
            </div>

            <div class="panel-footer">
                <input type="button" class="btn btn-danger right" value="关闭" onclick="CloseWebPage()">
            </div>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script>
    $('.del_img').click(function(){
        s=$(this);
        texts= s.parent().children("span").text();
{#        alert(texts);#}
        $.ajax({
            url:"{{ requset.path }}",
            type:"post",
            data:{"data":texts},
            headers:{'X-CSRFtoken':$.cookie('csrftoken')},
            success:function(arg){
                if(arg){
                    alert('删除成功!');
                    s.parent('div').addClass('hide');
                }
            }
        })
    });

    function CloseWebPage(){
    if (confirm("您确定要关闭本页吗？")){
    window.opener=null;
    window.open('','_self');
    window.close();
    }
    else{}     
    }

    function RegisterFormCheck(){
        if (myDropzone.files.length < 2){
            alert('请上传身份证正反面！2张！)');
            return false;
        }
        if ($('form :checkbox').prop("checked")){
            $("form").find("[disabled]").removeAttr("disabled");//移除不可修改 便于提交表单
            return true;
        }else {
            alert('请认真阅读并且同意条款，才可以报名');
            return false;
        }
    }
    Dropzone.autoDiscover=false;
    appElement = document.querySelector('div .inmodal');
    myDropzone = new Dropzone("#filerdropzone", {
            url: '{{ requset.path }}',//路径为 当前页
            paramName: "file", //默认为file
            method: "post",
            maxFilesize: 1,//MB
            addRemoveLinks: true,
            maxFiles: 2,
            acceptedFiles: ".jpg,.gif,.png,.jpeg", //上传的类型
            uploadMultiple: true,
            parallelUploads: 1,//一次上传的文件数量
            dictDefaultMessage: '请将照片拖到这里或点击上传',
            dictMaxFilesExceeded: "您最多只能上传2个文件！",
            dictResponseError: '文件上传失败!',
            dictInvalidFileType: "文件类型只能是*.zip,*.7z。",
            dictFallbackMessage: "浏览器不受支持",
            dictFileTooBig: "文件过大上传文件最大支持.",
            dictRemoveLinks: "删除",
            dictCancelUpload: "取消",
            init: function () {
                this.on("addedfile", function (file) {
                    //上传文件时触发的事件
                    document.querySelector('div .dz-default').style.display = 'none';
                });
                this.on("success", function (file, data) {
                    //上传成功触发的事件
                    console.log('ok');
                   // angular.element(appElement).scope().file_id = data.data.id;
                });
                this.on("error", function (file, data) {
                    //上传失败触发的事件
                    console.log('fail');
                    var message = '';
                    //lavarel框架有一个表单验证，
                    //对于ajax请求，JSON 响应会发送一个 422 HTTP 状态码，
                    //对应file.accepted的值是false，在这里捕捉表单验证的错误提示
                    if (file.accepted) {
                        $.each(data, function (key, val) {
                            message = message + val[0] + ';';
                        });
                        //控制器层面的错误提示，file.accepted = true的时候；
                        alert(message);
                    }
                });
                this.on("removedfile", function (file) {
                    //删除文件时触发的方法

                    document.querySelector('div .dz-default').style.display = 'block';
                });
            }

        });



    </script>
{% endblock %}